'scopeName': 'text.bhtml'
'fileTypes': ['bhtml']
'name': 'b-html'
'patterns': [
  {
    'match': '\\s*(</?)([a-zA-Z0-9:-]+)(.*)'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.bhtml'
      '2':
        'name': 'entity.name.tag.bhtml'
      '3':
        'name': 'invalid.illegal'
    'name': 'meta.element.bhtml'
  }
  {
    'match': '\\s*(<!)(.+)'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.bhtml'
      '2':
        'name': 'comment.line.bhtml'
    'name': 'meta.comment.bhtml'
  }
  {
    'match': '\\s*(@)([^"\'>\/= ]+)(?:\\s+(.+))?'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.bhtml'
      '2':
        'name': 'entity.name.tag.bhtml'
      '3':
        'name': 'string.quoted.double.bhtml'
    'name': 'meta.attribute.bhtml'
  }
  {
    'match': '\\s*(>?).+'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.bhtml'
    'name': 'meta.text.bhtml'
  }
]
